.default-layout {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .header {
        --header-height: 55px;
        height: var(--header-height);
        background-color: #ffffff55;
        .pages {
            .link {
                height: var(--header-height);
                line-height: var(--header-height);
                color: #555;
                font-weight: 500;
                text-decoration: none;
                transition: 0.3s;
                &:hover {
                    background-color: #ffffff88;
                }
                &.active {
                    background-color: #59d257;
                }
            }
        }
    }
    .content {
        height: 87%;
    }
}
