.data-page {
    > .title {
        font-weight: 500;
        border-bottom: 2px solid #999;
    }
    .env-data {
        height: 77%;
        overflow-y: scroll;
        .data-card {
            .icon {
                background-color: #ddd;
                font-size: 4rem;
                width: 8.5rem;
                text-align: center;
            }
            .data {
                .title {
                    color: #666;
                    font-weight: 500;
                    font-size: 1.6rem;
                }
                .time {
                    font-size: 1.2rem;
                }
            }
            .btn {
                font-size: 1.1rem;
            }

            &:hover {
                background-color: #eee;
            }
        }
    }
}
