.control-page {
    > .title {
        color: #444;
        border-bottom: 2px solid #999;
    }
    .env-control {
        height: 77%;
        .control-bulb-card {
            border: 1px solid #bbb;
            .bulb {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 15px;
                .icon {
                    .default-layout {
                        height: 63px;
                        width: 63px;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                    background-color: #ddd;
                    font-size: 5rem;
                    width: 8rem;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                }
                .bulb-set {
                    width: 125px;
                    height: 58px;
                    background-color: #ddd;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    border-radius: 5px;
                    &:hover {
                        background-color: #ccc;
                        cursor: pointer;
                    }
                }
            }
            .data {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                .title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: 33%;
                    .s {
                        height: fit-content;
                        color: #444;
                        font-size: 1.6rem;
                    }
                    .form-check-input {
                        cursor: pointer;
                    }
                    .t {
                        width: 6rem;
                        height: 3rem;
                        background-color: #ddd;
                        font-size: 20px;
                        &:hover {
                            background-color: #ccc;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

.line-bt1 {
    border-bottom: 1px solid #ccc;
}
