.set-garden-threshold-page {
    > .title {
        color: #444;
        border-bottom: 2px solid #999;
    }
    .env-data {
        height: 80%;
        overflow-y: scroll;
        .data-card {
            .icon {
                background-color: #ddd;
                font-size: 4rem;
                width: 8.5rem;
                text-align: center;
            }
            .data {
                .title {
                    font-weight: 400;
                    font-size: 1.6rem;
                }
                .upper,
                .lower {
                    width: 180px;
                }
            }
            &:hover {
                background-color: #eee;
            }
        }
    }
}
